ConsumerSMSParsing/src/META-INF/wsdl/localhost_8080/SMSSender/SendSMS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><xs:schema xmlns:tns="http://sender.sms.fidar.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://sender.sms.fidar.com/">

<xs:element name="sendSMS" type="tns:sendSMS" />

<xs:element name="sendSMSResponse" type="tns:sendSMSResponse" />

<xs:complexType name="sendSMS">
<xs:sequence>
<xs:element name="txtMsg" type="xs:string" minOccurs="0" />
<xs:element name="msisdn" type="xs:string" minOccurs="0" />
<xs:element name="token" type="xs:string" minOccurs="0" />
<xs:element name="shortCode" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="sendSMSResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>